@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: AeonikPro400;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #ff453a; 
  color: white;
}

@font-face {
  font-family: 'AeonikPro400';
  src: url('/fonts/AeonikProTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikPro300';
  src: url('/fonts/AeonikProTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}    

@font-face {
  font-family: 'AeonikPro600';
  src: url('/fonts/AeonikProTRIAL-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}    

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.geist {font-family: 'Geist';}

@media screen and (max-width: 1919px) {
  
}

@media screen and (max-width: 1535px) {
  
}

@media screen and (max-width: 1365px) {
  
}

@media screen and (max-width: 600px)  {

}
